# ====================
# Maven
# ====================
/target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties


# ====================
# VS Code
# ====================
.vscode/

# ====================
# Java
# ====================
*.class
*.jar
*.war
*.ear

# ====================
# Logs e temporários
# ====================
*.log
*.tmp
*.swp

# ====================
# Arquivos do sistema
# ====================
.DS_Store
Thumbs.db

# ====================
# Tiled Map Editor (se gerar arquivos .tmx/.json automaticamente)
# ====================
*.backup
*.bak

